.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 30px;
}

.grid-item{
  display: inline-grid;
  margin: 30px;
  width: 400px;
  height: 400px;
}

.img {
  width: inherit;
  height: inherit;
}

.caption{
  text-align: center;
}

body {
  width: auto;
  height: auto;
}
